
<div class="container" >
   
    <div class="card" > 
        <form (ngSubmit)="submitForm()" class="form">       
         <h1>Welcome please fill below details to Create Account </h1>
        <div class="row">
            <div class="col">
                <label for="name">Full Name:</label>
                <mat-form-field appearance="outline" style="width: 100%;" >
                    <mat-label>Enter your first & Last name</mat-label>
                   <input name="fname" [(ngModel)]="data.name" matInput placeholder="Placeholder" >
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  </mat-form-field>
            </div>            
        </div>           

        <div class="row">
            <div class="col">
                <label for="name">Email Address:</label>
                <mat-form-field class="example-container" appearance="outline" style="width: 100%;">
                <mat-label>Enter your email</mat-label>
                <input name="email" id="email" [(ngModel)]="data.email" matInput placeholder="Placeholder" >
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="col">
                <label for="name">Contact Number:</label>
                <mat-form-field hintLabel="Max 10 characters" appearance="outline" style="width: 100%;">
                <mat-label>Enter Mobile Number</mat-label>
                <input name="contactNumber" id="contact" [(ngModel)]="data.contact_number" matInput #input maxlength="10" placeholder="Ex. Nougat">
                <mat-hint align="end">{{input.value.length}}/10</mat-hint>
                </mat-form-field>
            </div>
        </div>              
        
        <div class="row">
            <div class="col">
                <label for="name">Amount:</label>
                <mat-form-field appearance="outline" floatLabel="always" style="width: 100%;">
                <mat-label>Enter Amount</mat-label>
                <input name="amount" id="amount" [(ngModel)]="data.amount" matInput type="number" class="example-right-align" placeholder="0">
                <span matTextPrefix>₹&nbsp;</span>
                <span matTextSuffix>.00</span>
                </mat-form-field>
            </div>
            <div class="col">
                <label for="name">Enter PIN:</label>         
                <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Enter your pin</mat-label>
                  <input name="pin" id="pin" [(ngModel)]="data.pin" matInput type="number" matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field> 
            </div>
        </div>       
       
        <div class="row">
            <div class="col">
                <label for="type">Seclect Account Type</label> 
                <mat-form-field appearance="outline" style="width: 100%;" >
                    <mat-label>savings or current</mat-label>
                   <input name="accountType" [(ngModel)]="data.accountType" matInput placeholder="Placeholder" >
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint align="end">make sure the spelling should be correct</mat-hint>
                  </mat-form-field>
            </div>
            <div class="col">
                <label for="Date">Seclect Expiry Date</label> 
                <mat-form-field class="datec" appearance="fill" style="width: 100%;">
                    <mat-label>Choose a date</mat-label>
                    <input name="expirydate" id="date" [(ngModel)]="data.expiryDate" matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker">
                      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div>
        </div>  

        <div class="row">
            <div class="col text-center">
                <button type="submit" mat-raised-button color="primary" class="btn-lg">SUBMIT</button>
                <span class="mx-2"></span><!-- add some gap between the buttons -->
                <button type="reset" mat-raised-button color="accent" class="btn-lg">RESET</button>
              </div>
        </div>
       
    </form>
    <!-- display form data here after submission -->
    <div class="response" *ngIf="formSubmitted">
        <h2>Submitted Data:</h2>
        <p>Name: {{data.name}}</p>
        <p>Virtual DebitCard Number: {{data.cardNumber}}</p>
        <p>CVV: {{data.CVV}}</p>
        <p>Expiry Date: {{data.expiryDate | date:'MM/dd/yyyy'}}</p>
      </div>
    {{ data | json}}
</div>
</div>   
